<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
<title>Insert title here</title>
</head>
<body>
<h3>WELCOME TO DOCUMENTS PAGE</h3>
<form th:action="@{/documents/save}" method="post" enctype="multipart/form-data">
<pre>
	ID  : <input type="text" name="fileId"/>
	FILE: <input type="file" name="fileOb"/>
	<input type="submit" value="Upload"/>
	<a href="@{/documents/download/{id}(id=${ob[0]})}">Download</a>
</pre>
</form>
</body>
</html>