<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</head>
<body>
	<div class="container">
		<div class="card-header bg-primary text-white text-center">
			<h3>PART CHARTS</h3>		
		</div>
		<div class="card-body">
			<img th:src="@{/partA.jpg}" />
			
			<img th:src="@{/partB.jpg}" />
		</div>
	</div>
</body>
</html>