<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Purchase Order Register Page</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/4.5.0/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"> </script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/purchaseorder.js}"></script>
</head>
<body>
	<div class="container">
		<div class="card">
		<!-- =================================Card Header========================================================================================== -->	
		
			<div class="card-header bg-primary text-white text-center">
				<h3>WELCOME TO PURCHASE ORDER REGISTER PAGE</h3>
			</div>
		<!-- =================================Card Body========================================================================================== -->	
			<div class="card-body">
				<form id="purchaseOrderForm" th:action="@{/purchaseorder/save}" method="POST" th:object="${purchaseOrder}">
		<!-- ===================================Row##1======================================================================================== -->
					<!-- Row##1 -->
					<div class="row">
						<div class="col-4">
							<label for="orderCode">Order Code</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{orderCode}" class="form-control">
						</div>
						<div class="col-4">
							<span id="orderCodeError"></span>
						</div>
					</div>
		<!-- ====================================Row##2======================================================================================== -->
					<div class="row">
						<div class="col-4">
							<label>ShipmentType</label>
						</div>
						<div class="col-4">
							<select th:field="*{shipmentType.id}" class="form-control">
								<option value="">-SELECT-</option>
								<option th:each="s:${shipmentTypes}"
										th:value="${s.key}"
										th:text="${s.value}"></option>
							</select>
						</div>
						<div class="col-4">
							<span id="shipmentType"></span>
						</div>
					</div>
					
		<!-- ====================================Row##3======================================================================================== -->
					<div class="row">
						<div class="col-4">
							<label>WhUserType</label>
						</div>
						<div class="col-4">
							<select th:field="*{whUserType.id}" class="form-control">
								<option value="">-SELECT-</option>
								<option th:each="w:${whUserTypes}"
										th:value="${w.key}"
										th:text="${w.value}"></option>
							</select>
						</div>
						<div class="col-4">
							<span id="whUserTypeError"></span>
						</div>
					</div>
		<!-- ====================================Row##4======================================================================================= -->
					<!-- Row##2 -->
					<div class="row">
						<div class="col-4">
							<label for="referenceNumber">Reference Number</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{referenceNumber}" class="form-control">
						</div>
						<div class="col-4">
							<span id="referenceNumberError"></span>
						</div>
					</div>
		<!-- ==================================Row##5========================================================================================= -->
					<!-- Row##3 -->
					<div class="row">
						<div class="col-4">
							<label for="qualityCheck">Quality Check</label>
						</div>
						<div class="col-4">
							<input type="radio" th:field="*{qualityCheck}" value="Required">Required				 			    
							<input type="radio" th:field="*{qualityCheck}" value="Not Required"/>Not Required
						</div>
						<div class="col-4">
							<span id="qualityCheckError"></span>
						</div>
					</div>
		<!-- ================================Row##6=========================================================================================== -->			
					<!-- Row##4 -->
					<div class="row">
						<div class="col-4">
							<label for="status">Status</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{status}" class="form-control">
						</div>
						<div class="col-4">
							<span id="statusError"></span>
						</div>
					</div>
		<!-- =============================Row##7============================================================================================== -->			
					<!-- Row##5 -->
					<div class="row">
						<div class="col-4">
							<label for="description">Description</label>
						</div>
						<div class="col-4">
							<textarea th:field="*{description}" class="form-control"></textarea>
						</div>
						<div class="col-4">
							<span id="descriptionError"></span>
						</div>
					</div>
					<input type="submit" class="btn btn-success" value="Place Purchase Order">
				</form>
			</div><!-- Card Body ENd -->
		<!-- ===========================Card Footer================================================================================================ -->
			<!-- Card Footer Section -->
			<div th:if="${message!=null}">
				<div class="card-footer bg-info text-white text-center">
					<b><span th:text="${message}"></span></b>
				</div>
			</div><!-- End Card Footer Section -->
			
		</div><!-- End Card Section -->
	</div><!-- End Container Section -->
    <!--=============================JQUERY validation============================================================================================= -->

</body>
</html>