<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Shipment Type Data page</title>
			<!-- CSS only -->
<!--     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" /> -->

    <!-- JS, Popper.js, and jQuery -->
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script> -->
	
<!--     <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
<!--     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script> -->
<!--     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->
		

</head>
<body>
<div th:insert="fragments/commonui :: userhead"></div>
 <div th:insert="fragments/commonui :: usermenu"></div>

	<div class="container">
		<div class="card">
			<!-- ===========================Header Section===================================================== -->
			<div class="card-header bg-primary text-white text-center">
				<h3>WELCOME TO SHIPMENT DATA PAGE</h3>
			</div>
			<!-- ===========================Body Section===================================================== -->
			<div class="card-body">
				<a th:href="@{/shipmenttype/excel}" class="btn btn-warning">EXCEL EXPORT</a>
				<a th:href="@{/shipmenttype/pdf}" class="btn btn-warning">PDF EXPORT</a>
				<table class="table table-hover">
					<tr class="bg-info text-white text-center">
						<th>ID</th>
						<th>MODE</th>
						<th>CODE</th>
						<th>ENABLE</th>
						<th>GRADE</th>
						<th>DESCRIPTION</th>
						<th colspan="4">OPERATION</th>
					</tr>
					<tr th:each="ob:${page.content}">
						<td th:text="${ob.id}"></td>
						<td th:text="${ob.shipmentMode}"></td>
						<td th:text="${ob.shipmentCode}"></td>
						<td th:text="${ob.enableShipment}"></td>
						<td th:text="${ob.shipmentGrade}"></td>
						<td th:text="${ob.description}"></td>
						<td><a th:href="@{/shipmenttype/delete/{id}(id=${ob.id})}" class="btn btn-danger">DELETE</a></td>
						<td><a th:href="@{/shipmenttype/edit/{id}(id=${ob.id})}" class="btn btn-success">EDIT</a></td>
						<td><a th:href="@{/shipmenttype/excel/{id}(id=${ob.id})}"class="btn btn-warning">EXCEL</a></td>
						<td><a th:href="@{/shipmenttype/pdf/{id}(id=${ob.id})}"class="btn btn-warning">PDF</a></td>
					</tr>
				</table>
			</div><!-- End Card Body -->
			<!-- ========================Card Footer section============================================================= -->
			<div th:if="${message!=null}">
				<div class="card-footer text-white bg-info">
					<b><span th:text="${message}"></span></b>
				</div>
			</div><!-- End Card Footer Section -->
		</div><!-- End Card Section -->
		<!-- ======================For Pagination Purpose======================================== -->
		<br/>
<nav aria-label="Page navigation example">
 <ul class="pagination justify-content-center">
    
    
    <li th:if="${page.hasPrevious()}" class="page-item">
    	<a class="page-link" th:href="@{/shipmenttype/all(page.number-1)}">Previous</a>
    </li>
    
    
    <th:block th:each="i:${#numbers.sequence(0,page.totalPages-1)}">
    	<li class="page-item">
          <a class="page-link" th:href="@{/shipmenttype/all(page=${i})}">[[${i+1}]]</a>
    	</li>
    </th:block>
    
    <li th:if="${page.hasNext()}" class="page-item">
    	<a class="page-link" th:href="@{/shipmenttype/all(page.number+1)}">Next</a>
    </li>
  </ul>
</nav>
		
	</div><!-- End Container Section -->
</body>
</html>